<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="AgentOS Studio" Version="0.1.0" Manufacturer="AgentOS Team" UpgradeCode="8D9A4B3A-8B6C-4D2A-9E1F-2B3C4D5E6F7B">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="" SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage SourceFile="dist-windows\AgentOS-Setup-x64.msi" DisplayInternalUI="yes" />
    </Chain>
  </Bundle>
</Wix>
